@font-face {  
  font-family: 'YaHei';
  src: url('./YaHei.ttf');
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family: 'YaHei Bold';
  src: url('./YaHei_bold.ttf');
  font-weight: normal;  
  font-style: normal;  
}